/* Nova paleta de cores utilizada:
   - Lilás escuro:     #9d4bca  
   - Lilás médio:      #b378d3  
   - Lilás vibrante:   #d09af5  
   - Lilás suave:      #e3b9f1  
   - Lilás claro:      #f0d7f9  
   - Lilás quase branco: #f8e4ff 
   - Branco:           #ffffff
   - Preto:            #000000
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.app {
  display: flex;
  min-height: 100vh;
  max-height: fit-content;
  background-color: white;
  /* branco */
}

/* Menu lateral */
.sidebar {
  width: 60px;
  height: 100vh;
  display: flex;
  background-color: #8a34b8;
  /* lilás escuro alternativo */
  flex-direction: column;
  padding: 10px;
  transition: width 0.3s;
  position: fixed;
  bottom: 0;
  overflow-y: auto;
}

.menu-icon {
  font-size: 25px;
  color: #ffffff;
  /* branco */
  cursor: pointer;
  padding: 0px 7px;
}

nav {
  width: 100%;
  transition: opacity 0.3s, visibility 0.3s;
}

.menu-escondido {
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

.menu-visivel {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.sidebar.aberto {
  width: fit-content;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: left;
  width: 100%;
}

nav ul li {
  margin: 15px 0;
  border-radius: 20px 0px;
}

nav ul li:hover {
  background-color: #b378d3;
  /* lilás médio */
  transition: 0.3s;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  /* branco */
  font-size: 18px;
  display: block;
  padding: 10px;
}

.main-content {
  flex: 1;
  text-align: center;
  font-size: 18px;
  margin: 0px;
}

.header {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
  /* branco para o título */
  background-color: #9d4bca;
  /* lilás escuro */
  padding: 10px;
}

.calendar-container {
  width: 90%;
  max-width: 600px;
  margin: 50px auto;
  background: #ffffff;
  /* branco */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
}

.calendar-container h3 {
  color: #9d4bca;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.nav-button {
  background-color: #d09af5;
  /* lilás vibrante */
  border: none;
  padding: 12px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: #b378d3;
  /* lilás médio */
}

h2 {
  font-size: 24px;
  color: #9d4bca;
  /* lilás escuro */
}

.relatorio-container {
  width: 80%;
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background: #9d4bca;
  /* lilás escuro */
  border-radius: 10px;
  box-shadow: 10px 14px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.relatorio-container h2 {
  color: #ffffff;
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #ffffff;
  /* branco */
  border-radius: 8px;
  overflow: hidden;
}

th,
td {
  padding: 10px;
  border: 1px solid #9d4bca;
  /* lilás escuro */
  font-size: 16px;
}

th {
  background-color: #b378d3;
  /* lilás médio */
  color: #ffffff;
}

td {
  background-color: #ffffff;
  /* branco */
}

tbody tr:nth-child(even) {
  background-color: #f8e4ff;
  /* lilás quase branco */
}

@media (max-width: 600px) {
  .relatorio-container {
    width: 95%;
    padding: 10px;
  }

  th,
  td {
    padding: 8px;
    font-size: 14px;
  }
}

/* Outra definição de calendar-container (layout flex) */
.calendar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #9d4bca;
  /* lilás escuro */
}

.calendar {
  background-color: #ffffff;
  /* branco */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 360px;
  height: 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease-in-out;
}

.calendar:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

h3 {
  color: #ffffff;
  /* lilás escuro */
  margin-bottom: 10px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
  margin-top: 10px;
}

.calendar-day-name {
  font-weight: bold;
  color: #9d4bca;
  /* lilás escuro */
  font-size: 16px;
  text-align: center;
  padding: 5px;
}

.calendar-day {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  box-sizing: border-box;
}

.calendar-day:hover {
  background-color: #f8e4ff;
  /* lilás quase branco */
}

.calendar-day.empty {
  background-color: transparent;
}

.selected-day-info {
  margin-top: 20px;
  font-size: 18px;
  color: #9d4bca;
  /* lilás escuro */
  text-align: center;
}

/* Agenda */
.agendar-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #9d4bca;
  /* lilás escuro */
  border-radius: 10px;
  box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: block;
}

.p-titulo {
  background-color: #b378d3;
  border-radius: 10px;
  padding: 5px;
}

.agendar-container h2 {
  color: #ffffff;
  /* lilás escuro */
  font-size: 24px;
  margin-bottom: 15px;
}

.agendar-calendar {
  background: #ffffff;
  /* branco */
  padding: 15px;
  border-radius: 10px;
  justify-self: center;
}

.agendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  margin-top: 10px;
}

.agendar-day-name {
  font-weight: bold;
  color: #9d4bca;
  /* lilás escuro */
  font-size: 16px;
  text-align: center;
  padding: 5px;
}

.agendar-day {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  /* preto */
  transition: 0.3s;
  cursor: pointer;
}

.agendar-container p {
  font-weight: 10;
  color: #ffffff;
  /* branco */
  line-height: 1.6;
  margin: 10px;
  font-family: Arial, sans-serif;
}

.agendar-container .selected-day-info p {
  font-size: 18px;
  color: #ffffff;
  /* branco */
  font-weight: 10;
  margin: 10px 0;
}

.agendar-days-list li {
  cursor: pointer;
  padding: 5px 0;
  font-size: 14px;
  color: #9d4bca;
  /* lilás escuro */
}

.agendar-days-list li:hover {
  background-color: #f8e4ff;
  /* lilás quase branco */
}

.agendar-day.available {
  background: #b378d3;
  /* lilás médio */
  color: #ffffff;
}

.agendar-day.available:hover {
  background: #9d4bca;
  /* lilás escuro */
}

.agendar-day.empty {
  background: transparent;
  cursor: default;
}

.agendar-days-list {
  margin-top: 20px;
  list-style: none;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-top: 10px;
}

.agendar-days-list li {
  padding: 10px;
  background: #ffffff;
  /* branco */
  border-radius: 5px;
  margin: 5px 0;
  cursor: pointer;
  transition: 0.3s;
}

.agendar-days-list li:hover {
  background: #f8e4ff;
  /* lilás quase branco */
}

.agendar-hours-list {
  margin-top: 10px;
  list-style: none;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.agendar-hours-list li {
  background: #ffffff;
  /* branco */
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid #b378d3;
  /* lilás médio */
}

.agendar-hours-list li:hover {
  background: #f8e4ff;
  /* lilás quase branco */
}

.selected-hour {
  background: #b378d3 !important;
  /* lilás médio */
  color: #ffffff;
}

.agendar-button {
  background: #b378d3;
  /* lilás médio */
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.3s;
}

.agendar-button:hover {
  background: #9d4bca;
  /* lilás escuro */
}

/* CSS do sign-in */
.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 40px;
}

.auth-form {
  background-color: #ffffff;
  /* branco */
  border-radius: 15px;
  padding: 40px;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.auth-form:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.auth-form h2 {
  font-size: 26px;
  color: #9d4bca;
  /* lilás escuro */
  text-align: center;
  margin-bottom: 25px;
  font-weight: 600;
}

.auth-form label {
  display: block;
  font-size: 18px;
  margin-bottom: 8px;
  color: #000000;
  /* preto */
  font-weight: 500;
}

.auth-form input,
.auth-form select {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #b378d3;
  /* lilás médio */
  font-size: 16px;
  background-color: #ffffff;
  /* branco */
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}

.auth-form input:focus,
.auth-form select:focus {
  border-color: #9d4bca;
  /* lilás escuro */
  outline: none;
}

.auth-form input[type="submit"],
.auth-form button {
  background-color: #9d4bca;
  /* lilás escuro */
  color: #ffffff;
  border: none;
  padding: 14px 25px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  width: 100%;
}

.auth-form input[type="submit"]:hover,
.auth-form button:hover {
  background-color: #b378d3;
  /* lilás médio */
  transform: translateY(-2px);
}

.auth-form p {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #000000;
  /* preto */
}

.auth-form a {
  color: #9d4bca;
  /* lilás escuro */
  text-decoration: none;
  font-weight: 600;
}

.auth-form a:hover {
  text-decoration: underline;
}

.auth-form select {
  background-color: #ffffff;
  /* branco */
  border: 1px solid #b378d3;
  /* lilás médio */
  padding: 12px 15px;
}

.auth-form p.auth-switch {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #000000;
  /* preto */
  width: 100%;
}

.auth-form p.auth-switch a:hover {
  text-decoration: underline;
}

/* Avaliação */
.avaliar-container {
  width: 80%;
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  background: #9d4bca;
  /* lilás suave */
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #ffffff;
}

.avaliar-container h2 {
  font-size: 24px;
  color: white;
  /* lilás escuro */
  margin-bottom: 20px;
}

.estrelas {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.estrelas .estrela {
  font-size: 40px;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s;
}

.estrelas .estrela.selected {
  color: #ffec1f;
  /* lilás vibrante */
}

.estrelas .estrela:hover {
  color: #ffec1f;
  /* lilás vibrante */
}

.informacoes-avaliacao {
  margin-bottom: 20px;
}

.informacoes-avaliacao p {
  font-size: 18px;
  color: #9d4bca;
  /* lilás escuro */
}

.opiniao-container {
  margin-top: 20px;
}

.opiniao-container textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #b378d3;
  /* lilás médio */
  border-radius: 5px;
  font-size: 16px;
  resize: none;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.botao-avaliacao {
  background-color: #9d4bca;
  /* lilás escuro */
  color: #ffffff;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
  display: inline-block;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.botao-avaliacao:hover {
  background-color: #b378d3;
  /* lilás médio */
  transform: scale(1.05);
}

.payment-container {
  margin: 40px auto;
  max-width: 600px;
  padding: 20px;
  background-color: #f8e4ff;
  /* lilás quase branco */
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.payment-success h2 {
  font-size: 24px;
  color: #9d4bca;
  /* lilás escuro */
  margin-bottom: 20px;
}

.payment-form .form-group {
  margin-bottom: 20px;
}

.payment-form .form-group label {
  font-size: 16px;
  color: #000000;
  /* preto */
  display: block;
  margin-bottom: 5px;
}

.payment-form .input-field {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #b378d3;
  /* lilás médio */
  font-size: 16px;
  box-sizing: border-box;
}

.payment-form button {
  background-color: #9d4bca;
  /* lilás escuro */
  color: #ffffff;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.payment-form button:hover {
  background-color: #b378d3;
  /* lilás médio */
}

.home-container {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  /* branco */
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 100vh;
  max-height: fit-content;
  justify-content: center;
  margin: 0px 0px 0px 60px;
}

.banner {
  display: flex;
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  background-color: #e3b9f1;
  /* lilás suave */
  box-shadow: 5px 0px 45px rgba(66, 6, 88, 0.542);
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 20px;
  width: 100%;
}

.conteudo {
  display: flex;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
}

.home-container {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  /* branco */
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: center;
}

.banner {
  text-align: center;
  margin-bottom: 20px;
}

.welcome-box {
  color: #ffffff;
  transition: opacity 0.5s ease;
}

.welcome-box.hidden {
  opacity: 0;
  visibility: hidden;
}

.welcome-box.visible {
  opacity: 1;
  visibility: visible;
}

.consultas-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  opacity: 0;
  transition: opacity 0.5s ease;
  margin-top: 20px;
}

.consultas-box.show {
  opacity: 1;
}

.consultas-container {
  background-color: #ffffff;
  /* branco */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.consultas-container h2 {
  font-size: 24px;
  color: #9d4bca;
  /* lilás escuro */
  margin-bottom: 15px;
}

.consultas-container ul {
  list-style-type: none;
  padding-left: 0;
}

.consultas-container li {
  font-size: 18px;
  color: #000000;
  /* preto */
  padding: 8px 0;
  border-bottom: 1px solid #b378d3;
}

.consultas-container li:last-child {
  border-bottom: none;
}

.home-container {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  /* branco */
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: center;
}

.banner {
  background-color: #9d4bca;
  /* lilás escuro */
  padding: 20px;
  text-align: center;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.welcome-box {
  color: #ffffff;
  transition: opacity 0.5s ease;
}

.welcome-box.hidden {
  opacity: 0;
  visibility: hidden;
}

.welcome-box.visible {
  opacity: 1;
  visibility: visible;
}

.consultas-marcadas {
  background-color: #9d4bca;
  /* lilás escuro */
  padding: 30px;
  border-radius: 12px;
}

.consultas-marcadas h2 {
  font-size: 34px;
  color: #ffffff;
  background-color: #b378d3;
  /* lilás médio */
  padding: 15px;
  border-radius: 12px;
}

.cards-container {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.card {
  background-color: #ffffff;
  /* branco */
  padding: 30px;
  border-radius: 12px;
  box-shadow: 10px 6px 12px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.card h3 {
  font-size: 26px;
  color: #9d4bca;
  /* lilás escuro */
  margin-bottom: 15px;
}

.card p {
  font-size: 18px;
  color: #000000;
  /* preto */
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.card-extended {
  background-color: #ffffff;
  /* branco */
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.card-extended h3 {
  font-size: 26px;
  color: #9d4bca;
  /* lilás escuro */
  margin-bottom: 15px;
}

.card-extended p {
  font-size: 18px;
  color: #000000;
  /* preto */
}

.efetuar-pagamento-container {
  max-width: 500px;
  margin: 50px auto;
  background: #9d4bca;
  /* lilás suave */
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.efetuar-pagamento-container h2 {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #ffffff;
}

.form-group input[type="text"],
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #b378d3;
  /* lilás médio */
  border-radius: 8px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  font-size: 14px;
}

.form-group input[type="text"]:focus,
.form-group select:focus {
  border-color: #9d4bca;
  /* lilás escuro */
  box-shadow: 0 0 8px rgba(122, 66, 200, 0.2);
  outline: none;
}

.form-group textarea.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #b378d3;
  border-radius: 8px;
  height: 40px;
}

.botao-enviar {
  background: #d09af5;
  /* lilás vibrante */
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.botao-enviar:hover {
  background: #b378d3;
  /* lilás médio */
}

.botao-avaliacao {
  background: #d09af5;
  /* lilás vibrante */
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.botao-avaliacao:hover {
  background: #b378d3;
  /* lilás médio */
}

/* CSS do agendar */
.agendar-calendar {
  display: grid;
  grid-template-columns: repeat(1, 350px);
  justify-content: center;
  width: fit-content;
}

.agendar-day-name {
  text-align: center;
  font-weight: bold;
}

.agendar-calendar-day {
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #b378d3;
}

.agendar-calendar-day.available {
  background-color: #9d4bca;
  color: #ffffff;
}

.agendar-calendar-day.empty {
  background-color: #ffffff;
}

.agendar-day-checkbox {
  display: block;
}

.agendar-hour-checkbox {
  display: block;
}

/* CSS do editar conta */
.editar-conta-container {
  background-color: #9d4bca;
  padding: 40px;
  max-width: 600px;
  margin: 50px auto;
  border-radius: 12px;
  box-shadow: 10px 6px 15px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.editar-conta-container h2 {
  text-align: center;
  font-size: 32px;
  color: #ffffff;
  margin-bottom: 30px;
}

.editar-conta-container label {
  font-size: 18px;
  color: #ffffff;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
}

.editar-conta-container input {
  width: 100%;
  padding: 14px;
  margin-bottom: 20px;
  border: 1px solid #b378d3;
  border-radius: 8px;
  font-size: 16px;
  color: #000000;
  transition: all 0.3s ease-in-out;
}

.editar-conta-container input:focus {
  border-color: #9d4bca;
  outline: none;
  box-shadow: 0 0 8px rgba(122, 66, 200, 0.3);
}

.editar-conta-container form {
  display: flex;
  flex-direction: column;
}

.editar-conta-container form br {
  display: none;
}

.editar-conta-container input {
  margin-bottom: 15px;
}

.editar-conta-container input::placeholder {
  color: #888;
  font-weight: normal;
}

.agendar-selected-day-info {
  margin-top: 20px;
}

.agendar-hour-edit {
  margin-top: 20px;
}

.agendar-available-hours ul {
  list-style-type: none;
}

.agendar-available-hours li {
  padding: 5px 0;
}

.notificacoes-container {
  background-color: #9d4bca;
  padding: 30px;
  border-radius: 12px;
  max-width: 600px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
  animation: fadeIn 1s ease-out;
}

.notificacoes-container h1 {
  font-size: 30px;
  color: #9d4bca;
  text-align: center;
  margin-bottom: 20px;
}

.notificacoes-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notificacoes-container li {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 25px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  color: #000000;
  position: relative;
  opacity: 0;
  animation: slideIn 0.5s ease-out forwards;
}

.notificacoes-container li:nth-child(1) {
  animation-delay: 0s;
}

.notificacoes-container li:nth-child(2) {
  animation-delay: 0.2s;
}

.notificacoes-container li:nth-child(3) {
  animation-delay: 0.4s;
}

.notificacoes-container li:nth-child(4) {
  animation-delay: 0.6s;
}

.notificacoes-container li:nth-child(5) {
  animation-delay: 0.8s;
}

.notificacoes-container li:nth-child(6) {
  animation-delay: 1s;
}

.notificacoes-container li:nth-child(7) {
  animation-delay: 1.2s;
}

.notificacoes-container li:nth-child(8) {
  animation-delay: 1.4s;
}

.notificacoes-container li .notificacao-icone {
  font-size: 24px;
  margin-right: 15px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Agendamento */
.visualizar-agendamentos-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #9d4bca;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.titulo-principal {
  text-align: center;
  color: white;
  font-size: 2em;
  padding: 20px 0;
}

.subtitulo {
  color: white;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.dias-consulta-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.dia-consulta {
  background: #ffffff;
  color: #9d4bca;
  /* lilás escuro */
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dia-consulta:hover {
  background: #f8e4ff;
}

.detalhes-agendamento {
  margin-top: 30px;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.detalhes-agendamento h2 {
  color: #9d4bca;
  text-align: center;
}

.detalhes-agendamento table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.detalhes-agendamento th,
.detalhes-agendamento td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #d09af5;
  /* lilás vibrante */
}

.detalhes-agendamento th {
  background: #b378d3;
  /* lilás médio */
  color: #ffffff;
}

.detalhes-agendamento tr:hover {
  background: #f8e4ff;
  /* lilás quase branco */
}

.blocotexto {
  font-size: 20px;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  border-color: #00000000;
}

.bloco {
  margin: 20px;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  background-color: #ffffff;
  border-color: transparent;
}

.lista-horas {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  justify-items: left;
}

.editar-massagista-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background: #9d4bca;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.editar-massagista-container h2 {
  text-align: center;
  color: #ffffff;
}

.form-group {
  margin-bottom: 15px;
}

.editar-massagista-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}

.editar-massagista-container input,
.editar-massagista-container textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #b378d3;
  border-radius: 4px;
  font-size: 14px;
}

.editar-massagista-container textarea {
  resize: vertical;
  min-height: 80px;
}

h4 {
  color: white;
}

.bloquinho {
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
  list-style: none;
  margin: 5px;
}

.bloquinho2 {
  background-color: #ffffff;
  border-radius: 5px;
  list-style: none;
  margin: 5px;
  text-align: left;
  color: #9d4bca;
  padding: 5px 10px;
}

span,
strong {
  color: #9d4bca;
}

.botao-disponibilidade {
  background: #d09af5;
  /* lilás vibrante */
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
  text-decoration: none;
  width: 100%;
}

.botao-disponibilidade:hover {
  background: #b378d3;
  /* lilás médio */
}

.centralizar {
  display: flex;
  justify-content: center;
  text-align: center;
}

.signin-container {
  display: grid;
  grid-template-columns: 4fr 4fr 1fr;
  background-color: #f8e4ff;
}

.login-container {
  display: grid;
  grid-template-columns: 4fr 4fr 1fr;
  background-color: #f8e4ff;
}

.imagem {
  display: flex;
  justify-content: center;
  align-items: center;
}